body{
    margin:0 ;
}

header {
    height: 100px;
    position: fixed;
    width:100%;
    background-color:#fff;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 10px;
}

header .logo img {
    height: 40px;
    padding-left: 28px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin-top: 10px;
}

ul li {
    display: block;
    padding: 0 10px;
}
.sec-section {
    padding-left: 150px;
    
}
.last-sec-section{
    padding-right: 20px;
}

form {
    top: 50%;
    transform: translateY(30%);
}

input::placeholder {
    padding-left: 15px;
}

input{
    background-color: #d0cccc;
    border-radius: 25px;
    height: 30px;
    width: 325px;
    padding: 5px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
}

header nav .form i {
    color: white;
    position: absolute;
    font-size: 100px;
    top: 50%;
    transform: translateY(-45%);
}

.section-one {
    top: 50%;
    transform: translateY(15%);
}
  
.sec-section, .sec-section-two, .sec-section-last {
    top: 50%;
    transform: translateY(25%);
}
