<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <nav>
        <div class="friend-request">
            <ul>
                <p>Friend Request</p>
                <a href="">see all</a>
                <li>
                    <img src="">
                    <p>Anthony Daugloi</p>
                    <p>12 mutual friends</p>
                    <button>Confirm</button>
                    <button>Delete</button>
                </li>
                <li>
                    <img src="">
                    <p>Anthony Daugloi</p>
                    <p>12 mutual friends</p>
                    <button>Confirm</button>
                    <button>Delete</button>
                </li>
                <li>
                    <img src="">
                    <p>Anthony Daugloi</p>
                    <p>12 mutual friends</p>
                    <button>Confirm</button>
                    <button>Delete</button>
                </li>
            </ul>
        </div>
        <div class="confirm-friend"></div>
        <div class="suggest-group"></div>
        <div class="suggest-pages"></div>
        <div class="event"></div>
    </nav>
</body>
</html>